<!DOCTYPE html>
<html>
<head>
	<title>Budget Buddy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
</head>
<body>
	<h1>This is the landing page :)</h1>
	<%result.forEach(function(user){%>
		<p>Name: <%= user.name %></p>
		<p>Email: <%= user.email%></p>
		<p>Current Budget: $<%= user.currBudget%></p>
	<%});%>
	<script type="text/javascript" src="/js/homepage.js"></script>
</body>
</html>