<!DOCTYPE html>
<html>
<head>
	<title>Budget Buddy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
	<h1>This is the log in page :)</h1>
	
	<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>