<!DOCTYPE html>

<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
</head>
<body>
	<div class="topnav">
		<a class="active" href="/budgetbuddy/sign_up">Sign Up</a>
		<a href="/budgetbuddy/sign_in">Login</a>
	<h1 style="padding-left: 10px; color: blue;">Budget Buddy</h1>
	</div>

	<div id="form">
		<form id="sign up">
			<h1 style="color: black; text-align: center;">Sign Up</h1>
			First name:<br>
			<input type="text" name="firstname" value="First Name" size="35"><br>
			Last name:<br>
			<input type="text" name="lastname" value="Last Name" size="35"><br>
			Email:<br>
			<input type="text" name="email" value="email" size="35"><br>
			Password:<br>
			<input type="text" name="password" value="password" size="35">
			<p id="fineprint">By clicking on "Submit" you agree to</br> 
				the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>
			<input type="submit" value="Submit">
		</form>
	</div>

	<div class="footer">
		<p>footer</p>
	</div>

	<script type="text/javascript" src="/js/signup.js"></script>
</body>
</html>