<!DOCTYPE html>

<html>
<head>
	<title>Budget Buddy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
</head>
<body>
	<h1>sign up for a user account.</h1>
	<script type="text/javascript" src="/js/signup.js"></script>
</body>
</html>