<!DOCTYPE html>

<html>
<head>
	<title>Sign Up</title>
	<meta content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
</head>
<body>
	<!-- navigation bar -->
	<div class="topnav">
		<a class="active" href="/budgetbuddy/sign_up">Sign Up</a>
		<a href="/budgetbuddy/sign_in">Login</a>
	<a href="/budgetbuddy" id="home">Budget Buddy</a>
	</div>
	</br>

	<!-- a cute photo of budget buddy -->
	<div>
		<img src="/assets/WalletLogo.png" class="mx-auto d-block" alt="Budget buddy" width=30% height=auto>
	</div>
	</br>

	<!-- sign up form -->
	<div id="form" class="container-fluid">
		<h1 class="text-center">Sign Up</h1>
		<form id="sign up" method='POST' action='/budgetbuddy/sign_up'>
			<div class="form-group">
				<label>First Name:</label>
				<input type="text" onfocus="this.value=''" name="firstname" value="Enter your first name.">
			</div>
			<div class="form-group">
				<label>Last Name:</label>
				<input type="text" onfocus="this.value=''" name="lastname" value="Enter your last name.">
			</div>
			<div class="form-group">
				<label>Email:</label>
				<input type="email" onfocus="this.value=''" name="email" value="Enter your Email.">
			</div>
			<div class="form-group">
				<label>Password:</label>
				<input type="password" onfocus="this.value=''" name="password" value="Enter your password.">
			</div>
			<div class="form-group">
				<input type="submit" onmouseover="this.value='Submit'" onmouseout="this.value='Done'" value="Done" id="submit">
			</div>
			<p id="fineprint" class="text-center">By clicking on "Submit" you agree to the
				<a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>
		</form>
	</div>
	</br></br></br></br></br>

	<!-- footer -->
	<div class="footer">
		<img src="/assets/socialMedia.png" class="mx-auto d-block" width=50% height=auto>
		<p class="text-center">Budget Buddy 2018. All rights reserved.</p></br>
	</div>
</body>
</html>