<!DOCTYPE html>

<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
</head>
<body>
	<!-- navigation bar -->
	<div class="topnav">
		<a class="active" href="/budgetbuddy/sign_up">Sign Up</a>
		<a href="/budgetbuddy/sign_in">Login</a>
	<p id="banner">Budget Buddy</p>
	</div>
	</br>

	<!-- a cute photo of budget buddy -->
	<img src="/assets/WalletLogo.png">
	</br>

	<!-- sign up form -->
	<div id="form">
		<form id="sign up">
			<h1 style="color: black; text-align: center;">Sign Up</h1>
			First Name:</br>
			<input type="text" onfocus="this.value=''" name="firstname" value="Enter your first name."></br></br>
			Last Name:</br>
			<input type="text" onfocus="this.value=''" name="lastname" value="Enter your last name."></br></br>
			Email:</br>
			<input type="text" onfocus="this.value=''" name="email" value="Enter your Email."></br></br>
			Password:</br>
			<input type="password" onfocus="this.value=''" name="password" value="Enter your password."></br></br>
			<input type="submit" onmouseover="this.value='Submit'" onmouseout="this.value='Submit'" value="Done" id="submit">
			<p id="fineprint">By clicking on "Submit" you agree to
				the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>
		</form>
	</div>
	</br></br></br></br></br>

	<!-- footer -->
	<div class="footer">
		<img src="/assets/socialMedia.png">
		<p>Budget Buddy 2018. All rights reserved.</p></br>
	</div>

	<script type="text/javascript" src="/js/signup.js"></script>
</body>
</html>