body {
	background: #e2ecff;
	/* margin: 0; */
	/* font-family: Arial, Helvetica, sans-serif; */
  }

input {
	background: rgb(210, 233, 247);
	padding: 10px;
	border-radius: 3px;
	border: none;
	width: 100%;
	line-height: 150%;
	color: lightslategray;
}

input:focus {
	color: black;
}

#home {
	float: left;
	font-size: 120%;
	color: whitesmoke;
}

#home:hover {
	background-color: #027878;
}

.topnav {
	overflow: hidden;
	background-color: #027878;
	padding-left: 50px;
	padding-right: 50px;
}

.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 100%;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #2a91fc;
	color: white;
}

#form {
	width: 80%;
    height: 50%;
	border-radius: 25px;
	background: whitesmoke;

    position: relative;
    margin: auto;
	padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
	padding-bottom: 7%;
}

#submit {
	background-color: #2a91fc;
	color: whitesmoke;
}

#fineprint {
	font-size: 80%;
}

.footer {
	position: relative;
	background-color: #027878;
	color: whitesmoke;
}